.info {
  margin: 70px auto 20px auto;
}
.info > div {
  display: flex;
  align-items: stretch;
}
.info > p.title {
  max-width: 500px;
  font-size: 2em;
  text-align: center;
  margin: 20px auto;
}
.info__content {
  flex: 1;
  max-width: 1400px;
  margin: 100px auto;
  text-align : center;
}
.info__content img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px auto;
}
.info__content__desc p {
  width: 80%;
  margin: 20px auto;
  font-size: 1.2em;
}
.info__flash-sale {
  width: 300px;
  background-color: #fed500;
  padding: 0px 20px;
  margin-left: 20px;
  border-radius: 5px;
  display: none;
}
.info__flash-sale > * {
  margin: 20px auto;
}
.info__flash-sale h1 {
  text-align: center;
  line-height: 1;
  font-size: 2.2em;
}
.info__flash-sale__item {
  text-align: center;
}
.info__flash-sale__item > * {
  margin: 10px 0px;
}
.info__flash-sale__item__image {
  padding: 25px;
  background-color: black;
  border-radius: 10px;
}
.info__flash-sale__item__image img {
  width: 200px;
}
.info__flash-sale__item p {
  font-size: 1.2em;
}
.info__flash-sale__item button {
  background-color: black;
  color: #fed500;
  font-size: 0.8em;
}
.info__flash-sale.is-open {
  display: block;
  animation: fly-left 300ms ease-out;
}
@keyframes fly-left {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
.info > button {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
  height: 100px;
  width: 50px;
  border: none;
  background-color: #fed500;
  font-weight: bold;
}

.beasts {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.beasts__item {
  width: 100%;
  height: 500px;
  margin: 50px 0px;
}
.beasts__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.beasts__item__title {
  text-transform: uppercase;
  font-size: 2em;
  position: absolute;
  top: 50px;
  left: 20px;
}
.beasts__item__desc {
  position: absolute;
  bottom: 50px;
  background-color: #fed500;
  color: black;
  text-align: center;
  padding: 15px 20px;
}
.beasts__item__btn {
  position: absolute;
  right: 20px;
  top: 50px;
}
