@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i&display=swap');

*{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 100vw;

}
.container2{
  height: 100vh;
  width: 100vw;
}

.con2left{
  height: 100vh;
  width: 50vw;
  float: left;
}

.con2left p{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%
}

.con2right{
  padding-top:20vw;
  padding-left:10vw;
  float: left;
}

.con2wright{
  padding-top:20vw;
  padding-left:10vw;
  margin-right:5vw;
  float: right;
}

.con2fright{
  padding-left:10vw;
  float: right;
}


.nav{
  margin-left:2vw;
  color: white;
  font-size : 2.5vw;
  text-decoration: none;
  font-family: arial;
  line-height: 30px;
}

.home{
  font-size:5vw;
  text-decoration:none;
  position: absolute;
  color: #557571;
  margin: 20px;
}

.hello{
  margin-top: 50vh;
  margin-left: 45vw;
}
.hello:hover{
  transform: scale(1.5);
}

.typography{
  height: 100vh;
  width: 100vw;
  background-color: #DED2C2 ;
  float:left;
}

.headings{
  height: 30vh;
  width: 50vw;
  background-color: #C2C9C9;
  font-color : #495649;
  float:left;
}

.bolditalic{
  height: 30vh;
  width: 50vw;
  background-color: #9ba79b;
  font-color : #55705D;
  float:right;
}

.watermarks{
  height: 30vh;
  width: 50vw;
  background-color: #c1c5c1;
  float:left;
}

.footnotes{
  height: 30vh;
  width: 50vw;
  background-color: #c5cbd2;
  float:right;
}

.titles{
  font-size: 2.5vw;
  text-align: center;
  padding-top: 3vw;
  font-family: 'didot';
  color: #b64923;
  transition: 0.3s;
}

.titles:hover{
  transition: 0.5s;
  transform: scale(1.1);
  color:#565f2e;
  font-family : 'Futura', sansserif ;
}

.space{
  letter-spacing: 0;
}
.space:hover{
  letter-spacing: 5px;
}

.content{
  margin-top: 10vw;
  margin-left: 40vw;
  margin-right: 10vw;
  text-align: center;
  line-height: 5vh;
  font-size: 2.5vw;
  color : #827b59;
  font-family : 'Avenir Next', sans serif;
  z-index: 100;
  position: absolute;
}

.h{
  background-color: #CFD0CA;
}
.headingtitles{
  font-size: 2.5vw;
  text-align: right;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 50vh;
  font-family: 'Didot';
  color: #b64923;
  transition: 0.3s;


}
.headingtitles:hover{
  color: #32452a;
  font-family : 'Futura', sansserif ;
  transition: 0.3s;
}
.headingcontent{
  margin-top: 5vw;
  margin-left: 20vw;
  margin-right: 40vw;
  text-align: right;
  line-height: 5vh;
  font-size: 3vw;
  font-family: 'Avenir Next', sansserif;
  z-index: 100;
  color : #557571;
  position: absolute;
}

.headingcontent2{
  margin-left: 50vw;
  margin-right: 20vw;
  float: right;
  padding-top: 25vw;
  margin-right:2.5vw;
  text-align: left;
  font-size: 3vw;
  font-family: 'Avenir Next', sansserif;
  color : #C6714F;
  position: absolute;
}

.b{
  background-color: #C2C9C9;
}
.boldoritalictitles{
  font-size: 4vw;
  text-align: left;
  padding-top: 53vh;
  padding-bottom: 10vh;
  padding-left: 15vh;
  font-family: 'Didot';
  color: #495659;
  transition: 0.3s;
}
.boldoritalictitles:hover{
  color: #637435;
  transition: 0.3s;
  font-family : 'Futura', sansserif ;
}
.boldoritaliccontent{
  margin-top: 25vw;
  margin-left: 10vw;
  margin-right: 43vw;
  text-align: right;
  font-size:3vw;
  line-height: 5vh;
  font-family: 'avenir next', sans serif;
  z-index: 100;
  position: absolute;
}

.boldoritaliccontent2{
  margin-top: 20vw;
  margin-left: 43vw;
  margin-right: 10vw;
  text-align: left;
  font-size:3vw;
  line-height: 5vh;
  font-family: 'avenir next', sans serif;
  z-index: 100;
  position: absolute;
}



.w{
  background-color: #dac488;
}
.watermarkstitles{
  font-size: 2.5vw;
  text-align: right;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 70vh;
  font-family: 'Didot';
  color: #4e415d;
  transition: 0.3s;
}
.watermarkstitles:hover{
  color: #bd6d29;
  transition: 0.3s;
  font-family : 'Futura', sansserif ;
}
.watermarkscontent{
  margin-right: 4vw;
  margin-left: 57vw;
  margin-top: 11vw;
  text-align: left;
  line-height: 5vh;
  font-size: 3vw;
  font-family: 'avenir next', sanserif;
  color : #bd5d29;
  z-index: 100;
  position: absolute;
}

.watermarkcontent2{
  margin-top: 25vw;
  margin-right: 50vw;
  margin-left: 10vw;
  text-align: right;
  font-size:3vw;
  line-height: 5vh;
  font-family: 'avenir next', sans serif;
  z-index: 100;
  color : #b5a370;
  position: absolute;
}

.f{
  background-color: #ece1ca;
}
.footnotestitles{
  font-size: 2.5vw;
  text-align: right;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 90vh;
  font-family: 'Didot';
  color: #C6714F;
  transition: 0.3s;
}
.footnotestitles:hover{
  color: #32452a;
  font-family : 'Futura', sansserif ;
  transition: 0.3s;
}
.footnotescontent{
  margin-right: 3vw;
  margin-left: 57vw;
  margin-top: 5vw;
  text-align: left;
  line-height: 5vh;
  font-size: 2.5vw;
  font-family: 'avenir next', sanserif;
  color : #bd5d29;
  z-index: 100;
  position: absolute;
}
.footnotescontent2{
  margin-top: 10vw;
  margin-right: 50vw;
  margin-left: 10vw;
  text-align: right;
  font-size:3vw;
  line-height: 5vh;
  font-family: 'avenir next', sans serif;
  z-index: 100;
  color : #b5a370;
  position: absolute;
}
.footnotescontent3{
  margin-right: 3vw;
  margin-left: 57vw;
  margin-top: 15vw;
  text-align: left;
  line-height: 5vh;
  font-size: 2.5vw;
  font-family: 'avenir next', sanserif;
  color : #bd5d29;
  z-index: 100;
  position: absolute;

}

.back{
  color:black;
  padding-top: 2vw;
  padding-left: 1.5vw;
  font-family : 'Futura', sansserif;
  color : #827b59;
  font-size: 6vw;
}
.back:hover{
  color: blue;
}
